.sidemenu{
    height: 100%;  width: 20%;  position: fixed; z-index: 1; top: 0; left: 0; background-color:#232323; transition: .5s ease; overflow-x: hidden; padding-top: 20px; display: flex; flex-direction: column; align-items: center;
    padding-top:40px;
}
.writing{
    color: white;
}

.btn:focus{
    outline: none !important;
    box-shadow: none !important;
    border:none;
    
  }

  .contentdiv{
      margin-top:70px;
      
  }